@tailwind base;
@tailwind components;
@tailwind utilities;

:root, body, #app{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'TimesNewRoman';
  src: url('fonts/TimesNewRoman-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TimesNewRoman';
  src: url('fonts/TimesNewRoman-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TimesNewRoman';
  src: url('fonts/TimesNewRoman-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TimesNewRoman';
  src: url('fonts/TimesNewRoman-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

/* Exemple d'utilisation des polices */
body {
  font-family: 'TimesNewRoman', sans-serif;
}

h1 {
  font-family: 'TimesNewRoman', serif;
  font-weight: bold;
}

p {
  font-family: 'TimesNewRoman', sans-serif;
  font-style: italic;
}


/*
  Enter and leave animations can use different
  durations and timing functions.
*/
